

<mat-card class="mb-5">
    <mat-card-header>
        <mat-card-title>Header examples</mat-card-title>
        <mat-card-subtitle>
            based on
            <a href="https://getbootstrap.com/docs/4.3/content/typography/#headings" class="">
                https://getbootstrap.com/docs/4.3/content/typography/#headings
            </a>
        </mat-card-subtitle>
    </mat-card-header>
    <hr />
    <mat-card-content>
        <h4>Standard heading elements</h4>
        <div class="row">
            <div class="col-3">
                <h1 #standardH1>&lt;h1&gt; heading</h1>
            </div>
            <div class="col">
                <div class="text-monospace alert allogy-alert alert-secondary">
                    <pre class="m-0">{{standardH1Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h2 #standardH2>&lt;h2&gt; heading</h2>
            </div>
            <div class="col">
                <div class="text-monospace alert allogy-alert alert-secondary">
                    <pre class="m-0">{{standardH2Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h3 #standardH3>&lt;h3&gt; heading</h3>
            </div>
            <div class="col">
                <div class="text-monospace alert allogy-alert alert-secondary">
                    <pre class="m-0">{{standardH3Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h4 #standardH4>&lt;h4&gt; heading</h4>
            </div>
            <div class="col">
                <div class="text-monospace alert allogy-alert alert-secondary">
                    <pre class="m-0">{{standardH4Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h5 #standardH5>&lt;h5&gt; heading</h5>
            </div>
            <div class="col">
                <div class="text-monospace alert allogy-alert alert-secondary">
                    <pre class="m-0">{{standardH5Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h6 #standardH6>&lt;h6&gt; heading</h6>
            </div>
            <div class="col">
                <div class="text-monospace alert allogy-alert alert-secondary">
                    <pre class="m-0">{{standardH6Styles | json}}</pre>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-content>
        <h4>Material class</h4>
        <div class="row">
            <div class="col-3">
                <p #matH1 class="mat-h1">*.mat-h1 heading</p>
            </div>
            <div class="col">
                <div class="text-monospace alert alert-secondary allogy-alert ">
                    <pre class="m-0">{{matH1Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p #matH2 class="mat-h2">*.mat-h2 heading</p>
            </div>
            <div class="col">
                <div class="text-monospace alert alert-secondary allogy-alert ">
                    <pre class="m-0">{{matH2Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p #matH3 class="mat-h3">*.mat-h3 heading</p>
            </div>
            <div class="col">
                <div class="text-monospace alert alert-secondary allogy-alert ">
                    <pre class="m-0">{{matH3Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p #matH4 class="mat-h4">*.mat-h4 heading</p>
            </div>
            <div class="col">
                <div class="text-monospace alert alert-secondary allogy-alert ">
                    <pre class="m-0">{{matH4Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p #matH5 class="mat-h5">*.mat-h5 heading</p>
            </div>
            <div class="col">
                <div class="text-monospace alert alert-secondary allogy-alert ">
                    <pre class="m-0">{{matH5Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p #matH6 class="mat-h6">*.mat-h6 heading</p>
            </div>
            <div class="col">
                <div class="text-monospace alert alert-secondary allogy-alert ">
                    <pre class="m-0">{{matH6Styles | json}}</pre>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-content>
        <h4>Bootstrap class</h4>
        <div class="row">
            <div class="col-3">
                <p #bootstrapH1 class="h1">*.h1 heading</p>
            </div>
            <div class="col">
                <div class="text-monospace alert alert-secondary allogy-alert ">
                    <pre class="m-0">{{bootstrapH1Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p #bootstrapH2 class="h2">*.h2 heading</p>
            </div>
            <div class="col">
                <div class="text-monospace alert alert-secondary allogy-alert ">
                    <pre class="m-0">{{bootstrapH2Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p #bootstrapH3 class="h3">*.h3 heading</p>
            </div>
            <div class="col">
                <div class="text-monospace alert alert-secondary allogy-alert ">
                    <pre class="m-0">{{bootstrapH3Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p #bootstrapH4 class="h4">*.h4 heading</p>
            </div>
            <div class="col">
                <div class="text-monospace alert alert-secondary allogy-alert ">
                    <pre class="m-0">{{bootstrapH4Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p #bootstrapH5 class="h5">*.h5 heading</p>
            </div>
            <div class="col">
                <div class="text-monospace alert alert-secondary allogy-alert ">
                    <pre class="m-0">{{bootstrapH5Styles | json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p #bootstrapH6 class="h6">*.h6 heading</p>
            </div>
            <div class="col">
                <div class="text-monospace alert alert-secondary allogy-alert ">
                    <pre class="m-0">{{bootstrapH6Styles | json}}</pre>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="mb-5">
    <mat-card-header>
        <mat-card-title>mat-card-header vs. h5 + paragraph</mat-card-title>
        <mat-card-subtitle>Comparing use of the Material styling against the Bootstrap defaults
        </mat-card-subtitle>
    </mat-card-header>
    <hr />
    <pre class="alert alert-secondary allogy-alert">
&lt;mat-card-header&gt;
    &lt;mat-card-title&gt;
        Integer Eget Aliquet Nibh
    &lt;/mat-card-title&gt;
    &lt;mat-card-subtitle&gt;
        Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi
    &lt;/mat-card-subtitle&gt;
&lt;/mat-card-header&gt;
    </pre>
    <mat-card-header>
        <mat-card-title>Integer Eget Aliquet Nibh</mat-card-title>
        <mat-card-subtitle>
            Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi
        </mat-card-subtitle>
    </mat-card-header>
    <hr />
    <pre class="alert alert-secondary allogy-alert">
&lt;h5 class="font-weight-normal"&gt;
    Integer Eget Aliquet Nibh
&lt;/h5&gt;
&lt;p class="text-muted"&gt;
    Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi
&lt;/p&gt;
    </pre>
    <div class="row">
        <div class="col">
            <h5 class="font-weight-normal">Integer Eget Aliquet Nibh</h5>
            <p class="text-muted">
                Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi
            </p>
        </div>
    </div>
    <hr />
</mat-card>
<mat-card class="mb-5">
    <mat-card-header>
        <mat-card-title>Inline text examples</mat-card-title>
        <mat-card-subtitle>
            based on
            <a href="https://getbootstrap.com/docs/4.3/content/typography/#inline-text-elements" class="">
                https://getbootstrap.com/docs/4.3/content/typography/#inline-text-elements
            </a>
        </mat-card-subtitle>
    </mat-card-header>
    <hr />
    <div class="row">
        <div class="col-12 col-md-6">
            <mat-card-content>
                <h4>Inline text elements</h4>
                <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                <p><del>This line of text is meant to be treated as deleted text.</del></p>
                <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
                <p><u>This line of text will render as underlined</u></p>
                <p><small>This line of text is meant to be treated as fine print.</small></p>
                <p><strong>This line rendered as bold text.</strong></p>
                <p><em>This line rendered as italicized text.</em></p>
            </mat-card-content>
        </div>
        <div class="col-12 col-md-6">
            <mat-card-content>
                <h4>Abbreviation elements</h4>
                <p><abbr title="attribute">attr</abbr></p>
                <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr></p>
            </mat-card-content>
        </div>
    </div>
    <hr />
</mat-card>
<mat-card class="mb-5">
    <mat-card-header>
        <mat-card-title>List examples</mat-card-title>
        <mat-card-subtitle>
            based on
            <a href="https://getbootstrap.com/docs/4.3/content/typography/#lists" class="">
                https://getbootstrap.com/docs/4.3/content/typography/#lists
            </a>
        </mat-card-subtitle>
    </mat-card-header>
    <hr />
    <div class="row">
        <div class="col-12 col-lg-4">
            <mat-card-content>
                <h4>Unstyled list</h4>
                <ul class="list-unstyled">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Purus sodales ultricies</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                </ul>
            </mat-card-content>
        </div>
        <div class="col-12 col-lg-4">
            <mat-card-content>
                <h4>Inline list</h4>
                <ul class="list-inline">
                    <li class="list-inline-item">Lorem ipsum</li>
                    <li class="list-inline-item">Phasellus iaculis</li>
                    <li class="list-inline-item">Nulla volutpat</li>
                </ul>
            </mat-card-content>
        </div>
    </div>
</mat-card>
