<mat-toolbar color="primary">
  <span>My App</span>

  <button mat-icon-button class="mx-2" aria-label="Navigation Menu" [matMenuTriggerFor]="navMenu">
    <fa-icon [icon]="icons.nav"></fa-icon>
  </button>
  <mat-menu #navMenu="matMenu">
    <a [routerLink]="['/']" mat-menu-item>Dashboard</a>
    <a [routerLink]="['/typography']" mat-menu-item>Typography</a>
    <a [routerLink]="['/', 'button']" mat-menu-item>Buttons</a>
  </mat-menu>
  <span class="flex-fill"></span>
  <button mat-icon-button aria-label="Unused">
    <fa-icon [icon]="icons.menu"></fa-icon>
  </button>
</mat-toolbar>

<div class="d-none d-print-block d-md-flex flex-row flex-grow-1 flex-container align-items-stretch mat-app-background">
  <!-- <allogy-sidebar-nav
      [isAdmin]="isAdmin"
      [orderedNavigationSections]="orderedNavigationSections"
      (closed)="isSidebarClosed=$event"
      class=" d-print-none">
      <allogy-collection-switcher
          *ngIf="user?.id"
          allogy-team-switcher
          class="d-inline-block w-100"
          [user]="user"
          [workTypes]="workTypes"
          [isClosed]="isSidebarClosed">
      </allogy-collection-switcher>
  </allogy-sidebar-nav> -->
  <div cdkScrollable
    class="allogy-sidebar-nav-height flex-fill allogy-d-flex-fill-column-scroll-auto mat-app-background">
    <div class="px-4 container d-flex flex-column flex-fill pb-3">
      <div class="row mb-3 mat-app-background">
        <div class="col">
          <!-- <allogy-breadcrumbs class="border-bottom border-tenant"></allogy-breadcrumbs> -->
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
