
<div class="w-100">
    <p>
        Expansion of varieties found at
        <a href="https://v12.material.angular.io/components/button/examples">
            https://v12.material.angular.io/components/button/examples
        </a>
        <br />
        and expanded with scoped theming per docs
        <a href="https://v12.material.angular.io/guide/theming#defining-multiple-themes">
            https://v12.material.angular.io/guide/theming#defining-multiple-themes
        </a>
    </p>
</div>

<h4 class="my-3 font-weight-light">Basic Buttons</h4>
<mat-card>
    <mat-card-content>
        <p>Material defaults: </p>
        <button class="mx-1" mat-button>Basic</button>
        <button class="mx-1" mat-button color="primary">Primary</button>
        <button class="mx-1" mat-button color="accent">Accent</button>
        <button class="mx-1" mat-button color="warn">Warn</button>
        <button class="mx-1" mat-button disabled>Disabled</button>
        <a class="mx-1" mat-button routerLink=".">Link</a>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Buttons wrapped in <code class="">*.status-colors</code> element</p>
        <div class="status-colors">
            <button class="mx-1" mat-button color="primary">Primary</button>
            <button class="mx-1" mat-button color="accent">Accent</button>
            <button class="mx-1" mat-button color="warn">Warn</button>
        </div>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Buttons wrapped in <code class="">*.monochrome-colors</code> element</p>
        <div class="monochrome-colors">
            <button class="mx-1" mat-button color="primary">Primary</button>
            <button class="mx-1" mat-button color="accent">Accent</button>
            <button class="mx-1" mat-button color="warn">Warn</button>
        </div>
    </mat-card-content>
</mat-card>

<h4 class="my-3 font-weight-light">Raised Buttons</h4>
<mat-card>
    <mat-card-content>

        <p>Material defaults: </p>
        <button class="mx-1" mat-raised-button>Basic</button>
        <button class="mx-1" mat-raised-button color="primary">Primary</button>
        <button class="mx-1" mat-raised-button color="accent">Accent</button>
        <button class="mx-1" mat-raised-button color="warn">Warn</button>
        <button class="mx-1" mat-raised-button disabled>Disabled</button>
        <a class="mx-1" mat-raised-button routerLink=".">Link</a>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Buttons wrapped in <code class="">*.status-colors</code> element</p>
        <div class="status-colors">
            <button class="mx-1" mat-raised-button color="primary">Primary</button>
            <button class="mx-1" mat-raised-button color="accent">Accent</button>
            <button class="mx-1" mat-raised-button color="warn">Warn</button>
        </div>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Buttons wrapped in <code class="">*.monochrome-colors</code> element</p>
        <div class="monochrome-colors">
            <button class="mx-1" mat-raised-button color="primary">Primary</button>
            <button class="mx-1" mat-raised-button color="accent">Accent</button>
            <button class="mx-1" mat-raised-button color="warn">Warn</button>
        </div>
    </mat-card-content>
</mat-card>

<h4 class="my-3 font-weight-light">Stroked Buttons</h4>
<mat-card>
    <mat-card-content>
        <p>Material defaults: </p>
        <button class="mx-1" mat-stroked-button>Basic</button>
        <button class="mx-1" mat-stroked-button color="primary">Primary</button>
        <button class="mx-1" mat-stroked-button color="accent">Accent</button>
        <button class="mx-1" mat-stroked-button color="warn">Warn</button>
        <button class="mx-1" mat-stroked-button disabled>Disabled</button>
        <a class="mx-1" mat-stroked-button routerLink=".">Link</a>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Buttons wrapped in <code class="">*.status-colors</code> element</p>
        <div class="status-colors">
            <button class="mx-1" mat-stroked-button color="primary">Primary</button>
            <button class="mx-1" mat-stroked-button color="accent">Accent</button>
            <button class="mx-1" mat-stroked-button color="warn">Warn</button>
        </div>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Buttons wrapped in <code class="">*.monochrome-colors</code> element</p>
        <div class="monochrome-colors">
            <button class="mx-1" mat-stroked-button color="primary">Primary</button>
            <button class="mx-1" mat-stroked-button color="accent">Accent</button>
            <button class="mx-1" mat-stroked-button color="warn">Warn</button>
        </div>
    </mat-card-content>
</mat-card>

<h4 class="my-3 font-weight-light">Flat Buttons</h4>
<mat-card>
    <mat-card-content>
        <p>Material defaults: </p>
        <button class="mx-1" mat-flat-button>Basic</button>
        <button class="mx-1" mat-flat-button color="primary">Primary</button>
        <button class="mx-1" mat-flat-button color="accent">Accent</button>
        <button class="mx-1" mat-flat-button color="warn">Warn</button>
        <button class="mx-1" mat-flat-button disabled>Disabled</button>
        <a class="mx-1" mat-flat-button routerLink=".">Link</a>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Buttons wrapped in <code class="">*.status-colors</code> element</p>
        <div class="status-colors">
            <button class="mx-1" mat-flat-button color="primary">Primary</button>
            <button class="mx-1" mat-flat-button color="accent">Accent</button>
            <button class="mx-1" mat-flat-button color="warn">Warn</button>
        </div>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Buttons wrapped in <code class="">*.monochrome-colors</code> element</p>
        <div class="monochrome-colors">
            <button class="mx-1" mat-flat-button color="primary">Primary</button>
            <button class="mx-1" mat-flat-button color="accent">Accent</button>
            <button class="mx-1" mat-flat-button color="warn">Warn</button>
        </div>
    </mat-card-content>
</mat-card>

<h4 class="my-3 font-weight-light">Icon Buttons</h4>
<mat-card>
    <mat-card-content>
        <p>Material defaults: </p>
        <button title="Default" class="mx-1" mat-icon-button aria-label="Example icon-button with a heart icon">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <button title="Primary" class="mx-1" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <button title="Accent" class="mx-1" mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <button title="Warn" class="mx-1" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <button title="Disabled" class="mx-1" mat-icon-button disabled aria-label="Example icon-button with a heart icon">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Buttons wrapped in <code class="">*.status-colors</code> element</p>
        <div class="status-colors">
            <button title="Primary" class="mx-1" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
            <button title="Accent" class="mx-1" mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
            <button title="Warn" class="mx-1" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
        </div>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Buttons wrapped in <code class="">*.monochrome-colors</code> element</p>
        <div class="monochrome-colors">
            <button title="Primary" class="mx-1" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
            <button title="Accent" class="mx-1" mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
            <button title="Warn" class="mx-1" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>

<h4 class="my-3 font-weight-light">Fab Buttons</h4>
<mat-card>
    <mat-card-content>
        <p>Material defaults: </p>
        <button title="Default" class="mx-1" mat-fab>
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <button title="Primary" class="mx-1" mat-fab color="primary">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <button title="Accent" class="mx-1" mat-fab color="accent">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <button title="Warn" class="mx-1" mat-fab color="warn">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <button title="Default" class="mx-1" mat-fab aria-label="Example button with icon">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <a title="Default" class="mx-1" mat-fab routerLink=".">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </a>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Buttons wrapped in <code class="">*.status-colors</code> element</p>
        <div class="status-colors">
            <button title="Primary" class="mx-1" mat-fab color="primary">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
            <button title="Accent" class="mx-1" mat-fab color="accent">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
            <button title="Warn" class="mx-1" mat-fab color="warn">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
        </div>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Buttons wrapped in <code class="">*.monochrome-colors</code> element</p>
        <div class="monochrome-colors">
            <button title="Primary" class="mx-1" mat-fab color="primary">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
            <button title="Accent" class="mx-1" mat-fab color="accent">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
            <button title="Warn" class="mx-1" mat-fab color="warn">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>

<h4 class="my-3 font-weight-light">Mini Fab Buttons</h4>
<mat-card>
    <mat-card-content>
        <p>Material defaults: </p>
        <button title="Default" class="mx-1" mat-mini-fab>
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <button title="Primary" class="mx-1" mat-mini-fab color="primary">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <button title="Accent" class="mx-1" mat-mini-fab color="accent">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <button title="Warn" class="mx-1" mat-mini-fab color="warn">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <button title="Disabled" class="mx-1" mat-mini-fab disabled>
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <button title="Default" class="mx-1" mat-mini-fab aria-label="Example icon-button with a heart icon">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </button>
        <a title="Default" class="mx-1" mat-mini-fab routerLink=".">
            <fa-icon class="d-block" [icon]="icon"></fa-icon>
        </a>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Buttons wrapped in <code class="">*.status-colors</code> element</p>
        <div class="status-colors">
            <button title="Primary" class="mx-1" mat-mini-fab color="primary">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
            <button title="Accent" class="mx-1" mat-mini-fab color="accent">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
            <button title="Warn" class="mx-1" mat-mini-fab color="warn">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
        </div>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Buttons wrapped in <code class="">*.monochrome-colors</code> element</p>
        <div class="monochrome-colors">
            <button title="Primary" class="mx-1" mat-mini-fab color="primary">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
            <button title="Accent" class="mx-1" mat-mini-fab color="accent">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
            <button title="Warn" class="mx-1" mat-mini-fab color="warn">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>

<h4 class="my-3 font-weight-light">Badges</h4>
<mat-card>
    <mat-card-content>
        <p>Material defaults: </p>
        <mat-chip-list aria-label="Color selection">
            <mat-chip>Unselected</mat-chip>
            <mat-chip selected>Selected Default</mat-chip>
            <mat-chip selected color="primary">Primary</mat-chip>
            <mat-chip selected color="accent">Accent</mat-chip>
            <mat-chip selected color="warn">Warn</mat-chip>
            <mat-chip disabled>Disabled</mat-chip>
            <mat-chip title="Default" selected aria-label="Example mat-chip with a heart icon">
                <fa-icon class="d-block" [icon]="icon"></fa-icon>
            </mat-chip>
        </mat-chip-list>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Chip List wrapped in <code class="">*.status-colors</code> element</p>
        <div class="status-colors">
            <mat-chip-list aria-label="Color selection">
                <mat-chip selected color="primary">Primary</mat-chip>
                <mat-chip selected color="accent">Accent</mat-chip>
                <mat-chip selected color="warn">Warn</mat-chip>
            </mat-chip-list>
        </div>
        <div class="py-3">
            <mat-divider class=""></mat-divider>
        </div>
        <p class="">Chip List wrapped in <code class="">*.monochrome-colors</code> element</p>
        <div class="monochrome-colors">
            <mat-chip-list aria-label="Color selection">
                <mat-chip selected color="primary">Primary</mat-chip>
                <mat-chip selected color="accent">Accent</mat-chip>
                <mat-chip selected color="warn">Warn</mat-chip>
            </mat-chip-list>
        </div>
    </mat-card-content>
</mat-card>
